.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
}

.nav ul {
  /* background-color: #3c3a39; */
  background-color: #212121;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 70px;
}

.nav ul li {
  margin: 0 50px;
}

.nav ul li a {
  text-decoration: none;
  color: white;
}

.filtercat select {
  background-color: #212121;
  color: white;
  font-weight: bold;
  border: none;
}

.main {
  height: 50vh;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#e6646400, #212121), url('images/landingpage.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  /* background: linear-gradient(#e664641e, #9198e5); */
}

.main h1 {
  padding-top: 150px;
  font-size: 50px;
  margin-bottom: 0;
  font-weight: bolder;
  color: rgba(255, 107, 0, 1);
  animation-duration: 6s;
  animation-name: slide;
}

@keyframes slide {
  from {
    margin-left: 70%;
    width: 100%;
  }

  to {
    margin-left: 5%;
    width: 100%;
  }
}

.main p {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 25px;
  color: white;
}

.button1 {
  padding: 6px 18px;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  border: none;
  background-color: rgba(255, 107, 0, 1);
}

.hideDiv {
  display: none;
}

.foodlogo {
  height: 70px;
}

table {
  margin: auto;
}

.meal {
  height: 50vh;
  background-color: #000;
  color: white;
  border: none;
}

.hover :hover {
  /* height: 41vh; */
  background: orangered;
}

.meal img {
  height: 40vh;
}

.meal h2,
.hover {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;

  /* grid-gap: 10px; */

  /* padding: 10px; */
}

.grid-container-ingr {
  display: grid;
  grid-template-columns: 20vw 20vw;

  /* grid-gap: 10px; */

  /* padding: 10px; */
}

@media only screen and (min-width: 992px) {
  .grid-container {
    display: grid;
    grid-template-columns: 24vw 24vw 24vw 24vw;
    grid-gap: 10px;

    /* padding: 10px; */
  }
}

.details {
  height: 80vh;
  display: flex;
  justify-content: space-around;

  /* margin-top: 5vh; */
}

.details div {
  width: 50vw;
}

.details img {
  margin-top: 10vh;
}

.view {
  color: white;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-size: 18px;
}

.video {
  color: white;
  font-size: 18px;
  margin-left: 10px;
}
